{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
<h4>Now searching the internet for nifty pictures. This can take a while too.</h4>
</div>
<div class="container">
{{ wtf.quick_form(form) }}
</div>
<div class="container-fluid">
    {% for url in urls %}
    <div class="col-md-4">
        {#{ card.format(gatherer=False, for_forum=False) }#}
        <img style="padding:3px;" src="card-craft/{{ url }}">
    </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Raw text</div>
    <div class="panel-body" style="max-height: 10;overflow-y: scroll; white-space: pre-wrap;">
        {{ session.cardtext }}
    </div>
        </div>
</div>
{% endblock %}