{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <h4>Disclaimer</h4>
<p>
This website is not affiliated with nor endorsed by Magic: The Gathering™ or Wizards of the Coast. Magic: the Gathering is trademark and copyright Wizards of the Coast, Inc., a subsidiary of Hasbro, Inc. All rights reserved.
Card backgrounds used on this site are used with credit to <a href="http://magicseteditor.sourceforge.net/">Magic Set Editor</a> under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/">Creative Commons BY-NC-SA 2.5 License</a>.
</p>
    Please be civilized and use an image sharing service like Imgur to share your creations!<br />
    TODO: Add image sharing buttons that don't suck.
</div>
<div class="container-fluid">
    {% for url in urls %}
    <div class="col-md-4">
        {#{ card.format(gatherer=False, for_forum=False) }#}
        <img style="padding:3px;" src="card-craft/{{ url }}">
    </div>
    {% endfor %}
</div>
{% endblock %}